

/* ------------------
    CSS FOR LOGIN
-------------------*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form {
    font-size: 16px;
    font-family: "system-ui";
    margin-top: 150px;
    padding: 35px 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login input[type="text"],
.login input[type="password"]{
    padding: 10px 12px;
    border-radius: 12px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.login button {
    border: 4px solid #1892c3;
    background-color: white;
    color: #1892c3;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.login button:hover {
    background-color: #1892c3;
    color: white;
}