* {
    font-family: "system-ui";
}

/* -------------
     BUTTONS
---------------*/
button {
    border: 4px solid #1892c3;
    background-color: white;
    color: #1892c3;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #1892c3;
    color: white;
}

button:disabled {
    background-color: #999999;
    color: #666666;
    border-color: #999999;
}

button:disabled:hover {
    background-color: #999999;
    color: #666666;
}

/* ------------------------
    CSS FOR CAR DISPLAY
--------------------------*/
.cars-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 25px 50px;
}

.car-boxes {
    background: #F2F2F2;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.car-boxes img {
    width: 275px;
    aspect-ratio: 3/2;
}

.car-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
}

.car-info div {
    display: flex;
    flex-direction: column;
}

.car-info h3 {
    font-size: 15px;
    margin-bottom: 2px;
}

.car-info p {
    margin-top: 2px;
}

/* ------------------
    CSS FOR CRUD
--------------------*/
.form-box {
    margin-top: 50px ;
    display: flex;
    justify-content: center;
}

.CRUD-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    max-width: 600px;
}

.CRUD-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.CRUD-form div {
    display: flex;
    flex-direction: column;
}

.CRUD-form button {
    margin-top: 25px;
    grid-column: span 2;
}

/* -----------------------
    CSS FOR CRUD - EXTENDED
-------------------------*/
.page-structure{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.page-structure img{
    width: 500px;
    aspect-ratio: 3/2;
}

.car-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-CRUD div {
    padding-left: 45px;
}

.centered-CRUD label {
    font-weight: bold;
}

.centered-CRUD {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    max-width: 600px;
}

/* ------------------
    CSS FOR FAQ
---------------------*/
.faq-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 0;
}

.faq-item {
    background-color: #F2F2F2;
    border-radius: 12px;
    text-align: left;
    align-items: center;
    padding: 15px 25px;
    margin: 0 50px;
}

.faq-item h3 {
    text-align: center;

}

/* ------------------
    CSS FOR FILTERS
---------------------*/
.filters {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.filters div {
    margin: 0 15px;
}


/* -----------------------
     CSS FOR PAGE INFO
-------------------------*/
h1 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.page-info p {
    text-align: center;
    padding-bottom: 25px;
}
/* ------------------
    CSS FOR REPORT
-------------------*/
.damage-list {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    /*table-layout: fixed;*/
    text-align: center;
}

.damage-list td {
    padding: 10px 6px;
    border-bottom: 1px solid #E5E5E5;
}

.damage-list th {
    font-weight: 600;
    padding: 10px 6px 15px;
}

.damage-list tbody tr:hover {
    background: #F2F2F2;
}


.report-form {

}

/* ------------------
    CSS FOR LOGIN
-------------------*/
.error-message p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.login-h1{
    margin-top: 100px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.login form {
    font-size: 16px;
    padding: 35px 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login input[type="text"],
.login input[type="password"]{
    padding: 10px 12px;
    border-radius: 12px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

/* ------------------
    CSS FOR NAV
-------------------*/
.log-out{
    color: #1892c3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

nav a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #F2F2F2;
}

.nav-img {
    max-height: 40px;
}

.nav-links{
    padding: 0 8px;
}

/* -------------------
    CSS FOR TABLE
---------------------*/
.create-car-button {
    display: flex;
    justify-content: center;
    margin: 20px 0 35px;
}

.create-car {
    width: 200px;
    display: block;
    text-align: center;
}

.list-of-cars {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
    text-align: center;
}

.list-of-cars td {
    padding: 10px 6px;
    border-bottom: 1px solid #E5E5E5;
}

.list-of-cars th {
    font-weight: 600;
    padding: 10px 6px 15px;
}

.list-of-cars tbody tr:hover {
    background: #F2F2F2;
}

.edit-car {
    color: #1892c3;
    text-decoration: none;
    font-size: 13px;
}

.edit-car:hover {
    font-weight: bold;
}