<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/">Kundeside</a>
        <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
        <a href="/admin-rentals-today">Dagens udlejninger</a>
        <a href="/admin-highlighted-cars">Fremhæv biler</a>
        <a href="/admin-cars">Biler</a>
        <a href="/admin-purchase-contracts">Købskontrakter</a>
        <a href="/admin-login" class="log-out">Log ud</a>
    </div>
</nav>

<a href="/admin-pick-highlighted-cars" class="btn">Tilbage</a>

<div class="page-info">
    <h1>Rediger fremhævede biler</h1>
    <p> Vælg de fremhævede biler til forsiden</p>
</div>

<table class="list-of-cars">
    <thead>
    <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Location</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.location}"></td>
        <form th:action="@{/admin-pick-highlighted-cars}" method="post">
            <input type="hidden" name="oldCarId" th:value="${oldCarId}">
            <input type="hidden" name="newCarId" th:value="${car.id}">
            <td><button id="car" type="submit">Fremhæv bil</button></td>
        </form>

    </tr>
    </tbody>
</table>


</body>
</html>