<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin_index</title>
</head>
<body>

<nav>
    <a href="/admin_index"><img src="BILABONNEMENT_LOGO.png" alt="Logo"></a>
    <div class="nav-links">
    <a href="/admin_index"><p>KPI</p></a>
    <a href="/register_damages"><p>Registrer Skader</p></a>
    <a href="/allCarsAdmin"><p>Biler</p></a>
    <a href="/index"><p>Log ud</p></a>
    </div>
</nav>

<div class="KPI">

    <p>Total antal biler: <span th:text="${totalCars}"></span></p>

</div>
</body>
</html>