<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase contracts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/">Kundeside</a>
        <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
        <a href="/admin-rentals-today">Dagens udlejninger</a>
        <a href="/admin-highlighted-cars">Fremhæv biler</a>
        <a href="/admin-cars">Biler</a>
        <a href="/admin-purchase-contracts">Købskontrakter</a>
        <a href="/admin-login" class="log-out">Log ud</a>
    </div>
</nav>

<a href="/admin-index" class="btn">Tilbage</a>

<div class="page-info">
    <h1>Kundernes købskontrakter</h1>
    <p>Her kan du se en oversigt over alle købskontrakter i systemet.</p>
</div>

<table class="list-of-cars">
    <thead>
    <tr>
        <th>ID</th>
        <th>Pris</th>
        <th>Modtagelsesdato</th>
        <th>Bruger ID</th>
        <th>Bil ID</th>
        <th>Vehicle Report ID</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="contract : ${purchaseContracts}">
        <td th:text="${contract.id}"></td>
        <td th:text="${contract.price}"></td>
        <td th:text="${contract.receiveDate}"></td>
        <td th:text="${contract.userId}"></td>
        <td th:text="${contract.carId}"></td>
        <td th:text="${contract.vehicleReportId}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>


</body>
</html>