<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update vehicle report</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/">Kundeside</a>
        <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
        <a href="/admin-rentals-today">Dagens udlejninger</a>
        <a href="/admin-highlighted-cars">Fremhæv biler</a>
        <a href="/admin-cars">Biler</a>
        <a href="/admin-purchase-contracts">Købskontrakter</a>
        <a href="/admin-login" class="log-out">Log ud</a>
    </div>
</nav>

<a href="/admin-active-rental-contracts" class="btn">Tilbage</a>

<div class="page-info">
    <h1>Skade registreringer</h1>
</div>

<form action="/admin-update-vehicle-report" method="post" class="report-form">

    <input type="hidden" name="vehicleReportId" th:value="${vehicleReportId}">

    <table class="damage-list">

        <thead>
        <tr>
            <th></th>
            <th>Navn</th>
            <th>Pris</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="damage: ${damages}">
            <td></td>
            <td><input name="name" type="text" th:value="${damage.name}" required></td>
            <td><input name="price" type="number" th:value="${damage.price}" min="0" required oninput="updateTotal()"></td>
            <td><button type="button" onclick="removeRow(this); updateTotal()">Fjern</button></td>
        </tr>

        <tr id="totalRow">
            <td></td>
            <td>Samlet pris:</td>
            <td><span id="totalPrice">0</span> kr.</td>
            <td></td>
        </tr>
        </tbody>
    </table>



<div class="report-form-button">
    <button type="button" onclick="addRow()">Tilføj</button>
    <button type="submit">Gem rapport</button>
</div>

</form>

<script>

    //Metode til at tilføje ny række i tabellen.
    function addRow() {

        const table = document.querySelector("table");

        const totalRow = document.getElementById("totalRow")

        const row = table.insertRow(totalRow.rowIndex);

        row.innerHTML = `
            <td></td>
            <td><input name="name" type="text" required/></td>
            <td><input name="price" type="number" required oninput="updateTotal()" min="0"></td>
            <td><button type="button" onclick="removeRow(this); updateTotal()">Fjern</button></td>`;

    }

    //Metode til at fjerne række fra tabellen
    function removeRow(button) {

        const row = button.closest("tr");

        row.remove();

    }

    //Metode til at opdatere den samlede pris på siden så snart der sker ændringer.
    function updateTotal() {

        const prices = document.querySelectorAll('input[name="price"]')

        let total = 0;

        prices.forEach(input => {
            total += parseInt(input.value) || 0;
        })

        document.getElementById("totalPrice").textContent = total.toLocaleString('da-DK');

    }

    //Kalder metoden, så samlet pris allerede står der, når man går ind på siden.
    updateTotal();

</script>

</body>

</html>