<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All cars admin</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/">Kundeside</a>
        <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
        <a href="/admin-rentals-today">Dagens udlejninger</a>
        <a href="/admin-highlighted-cars">Fremhæv biler</a>
        <a href="/admin-cars">Biler</a>
        <a href="/admin-purchase-contracts">Købskontrakter</a>
        <a href="/admin-login" class="log-out">Log ud</a>
    </div>
</nav>

<a href="/admin-index" class="btn">Tilbage</a>

<div class="page-info">
    <h1>Bil oversigt</h1>
    <p>På den her side finder du en oversigt af alle biler i systemet. Her finder du alt relevant
        information og redigere dem.</p>
</div>

<div class="create-car-button">
    <form th:action="@{/create-car}" method="get">
        <button type="submit" class="create-car">Opret</button>
    </form>
</div>


<table class="list-of-cars">
    <thead>
    <tr>
        <th>Id</th>
        <th>Mærke</th>
        <th>Model</th>
        <th>Farve</th>
        <th>Lokation</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.location}"></td>
        <td><a class="edit-car" th:href="@{/update-car(id=${car.id})}">Rediger bil</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>