<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/">Kundeside</a>
        <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
        <a href="/admin-rentals-today">Dagens udlejninger</a>
        <a href="/admin-highlighted-cars">Fremhæv biler</a>
        <a href="/admin-cars">Biler</a>
        <a href="/admin-purchase-contracts">Købskontrakter</a>
        <a href="/admin-login" class="log-out">Log ud</a>
    </div>
</nav>

<a href="/admin-index" class="btn">Tilbage</a>

<div class="page-info">
    <h1>Udlejning og indlevering</h1>
    <p>På den her side finder du en oversigt af alle biler der skal udlejes og indleveres i dag </p>
</div>

<h2>Udlejninger i dag</h2>
<div class="list-of-todays-rentals">
    <table class="list-of-cars list-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Farve</th>
            <th>Lokation</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="car : ${todaysRentals}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.location}"></td>
        </tr>
        </tbody>
    </table>
</div>

<h2>Indleveringer i dag</h2>
<div class="list-of-todays-rentals">
    <table class="list-of-cars">
        <thead>
        <tr>
            <th>Id</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Farve</th>
            <th>Lokation</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="car : ${todaysReturns}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.location}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>