<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Active Rental Contracts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div>

    <nav>
        <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
        <div class="nav-links">
            <a href="/admin-index">KPI</a>
            <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
            <a href="/admin-rentals-today">Dagens udlejninger</a>
            <a href="/admin-cars">Biler</a>
            <a href="/admin-login" class="log-out">Log ud</a>
        </div>
    </nav>

    <h1>Active Rental Contracts</h1>
    <div class="page-info">
        <h1>Active Rental Contracts</h1>
        <p>Her finder du en liste over alle aktive udlejninger</p>
    </div>

    <table class="list-of-cars">
        <thead>
        <tr>
            <th>Contract ID</th>
            <th>Car ID</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Max KM</th>
            <th>Unlimited</th>
            <th>Monthly Price (DKK)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${activeRentalContracts}">
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.carId}"></td>
            <td th:text="${#temporals.format(contract.fromDateTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(contract.toDateTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${contract.maxKm}"></td>
            <td th:text="${contract.unlimited ? 'Yes' : 'No'}"></td>
            <td class="price" th:text="${#numbers.formatDecimal(contract.monthlyPrice, 1, 2)} + ' DKK'"></td>
            <td><a th:href="@{/create-rental-contract(id=${contract.vehicleReportId})}"><button>Håndter fejl og mangler</button></a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total Sum:</strong></td>
            <td th:text="${#numbers.formatDecimal(totalSum, 1, 2)} + ' DKK'"></td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>