<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Title</title>
</head>

<body>

<nav>
    <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/admin-index">KPI</a>
        <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
        <a href="/admin-rentals-today">Dagens udlejninger</a>
        <a href="/admin-highlighted-cars">Rediger fremhævede biler</a>
        <a href="/admin-cars">Biler</a>
        <a href="/admin-login" class="log-out">Log ud</a>
    </div>
</nav>

<a href="/admin-index" class="btn">Tilbage</a>

<div class="page-info">
    <h1>Vælg fremhævede biler til forsiden</h1>
    <p>På denne side, kan de vælge de biler, de ønsker at fremhæve på forsiden. Der skal vælges 3.</p>
</div>

<div class="cars-list">

    <div th:each="car : ${highlightedCars}" class="car-boxes light-shadow">

        <!-- Display image if present -->

            <img th:if="${car.imageBase64 != null}"
                 th:src="'data:image/jpeg;base64,' + ${car.imageBase64}"/>

        <div class="car-info">
            <div>
                <h3>Mærke:</h3>
                <p th:text="${car.brand}"></p>
            </div>
            <div>
                <h3>Model:</h3>
                <p th:text="${car.model}"></p>
            </div>
            <div>
                <h3>Pris pr. måned</h3>
                <p th:text="${car.monthlyPrice + ' DKK'}"></p>
            </div>
            <div>
                <h3>Farve:</h3>
                <p th:text="${car.color}"></p>
            </div>
        </div>
        <div>
            <form th:action="@{/admin-highlighted-cars}" method="post">
                <input type="hidden" name="oldCarId" th:value="${car.id}">
                <button id="carId" type="submit">Fremhæv ny bil</button>
            </form>
        </div>
    </div>
</div>


</body>

</html>