<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/login"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    </div>
</nav>

<h1 class="login-h1">Log in</h1>

<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>

<div class="login">
    <form action="/login" method="post">
        <div class="login-username">
            <label for="username">Brugernavn:</label>
            <input type="text" id="username" name="username" placeholder="Indtast brugernavn">
        </div>

        <div class="login-password">
            <label for="pwd">Kodeord:</label>
            <input type="password" id="pwd" name="pwd" placeholder="Indtast kodeord"><br>
        </div>
        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>