<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin_index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/admin_index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/admin_index">KPI</a>
        <a href="/register_damages">Registrer Skader</a>
        <a href="/allCarsAdmin">Biler</a>
        <a href="/index" class="log-out">Log ud</a>
    </div>
</nav>

<div class="KPI">

    <p>Total antal biler: <span th:text="${totalCars}"></span></p>
    <p>Gennemsnitlige længde for lejeperiode: <span th:text="${averageRentalPeriod}"></span> antal dage</p>

</div>
</body>
</html>