<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Car</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1>Create New Car</h1>

<form th:action="@{/create-car}" th:object="${car}" method="post" class="create-form">

    <div>
        <label>ID:</label>
        <input type="number" th:field="*{id}" required/>
    </div>

    <div>
        <label>Brand:</label>
        <input type="text" th:field="*{brand}" required/>
    </div>

    <div>
        <label>Model:</label>
        <input type="text" th:field="*{model}" required/>
    </div>

    <div>
        <label>Steel Price:</label>
        <input type="number" step="0.01" th:field="*{steelPrice}" required/>
    </div>

    <div>
        <label>Tax:</label>
        <input type="number" step="0.01" th:field="*{tax}" required/>
    </div>

    <div>
        <label>Emission:</label>
        <input type="number" step="0.01" th:field="*{emission}" required/>
    </div>

    <div>
        <label>Color:</label>
        <input type="text" th:field="*{color}" required/>
    </div>

    <div>
        <label>Location:</label>
        <input type="text" th:field="*{location}" required/>
    </div>

    <div>
        <label>Damage Status:</label>
        <input type="text" th:field="*{damageStatus}" required/>
    </div>

    <button type="submit">Create Car</button>
</form>
</body>

</html>
