<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin_index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/admin-index"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/admin-index">KPI</a>
        <a href="/admin-active-rental-contracts">Aktive udlejninger</a>
        <a href="/admin-rentals-today">Dagens udlejninger</a>
        <a href="/admin-cars">Biler</a>
        <a href="/admin-login" class="log-out">Log ud</a>
    </div>
</nav>

<div class="page-info">
    <h1>Velkommen til forsiden for medarbejdere</h1>
    <p>Her får du et overblik over vores centrale KPI'er og kan navigere mellem de forskellige værktøjer og muligheder</p>
</div>

<div class="KPI">

    <a href="/admin-active-rental-contracts">Udlejede biler ved dags dato: <span th:text="${#lists.size(totalRentedCars)}"></span></a>
    <p>Gennemsnitlige længde for lejeperiode: <span th:text="${averageRentalPeriod}"></span> antal dage</p>
    <a href="/admin-active-rental-contracts">Forventede omsætning for biludlejning i indeværende måned: <span th:text="${totalRentalSum}"></span> DKK</a>
</div>
</body>
</html>