<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/style.css">

<head>
    <title>Cars</title>
</head>
<body>

<nav>
    <a href="/"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/cars?availability=Leje">Lej bil</a>
        <a href="/cars?availability=Køb">Køb bil</a>
        <a href="/faq">FAQ</a>
    </div>
</nav>

<div class="background-img">
    <div class="btn">
        <a href="/" >Tilbage</a>
    </div>

    <div class="page-info">
        <h1>Biler</h1>
    </div>

    <div class="filters">
        <div>
            <label>Lokation:</label>
            <select id="location-filter" onchange="sortCars()">
                <option th:value="Alle" th:text="'Alle'">Alle</option>
                <option th:value="NORDJYLLAND" th:text="'Nordjylland'">NORDJYLLAND</option>
                <option th:value="MIDTJYLLAND" th:text="'Midtjylland'">MIDTJYLLAND</option>
                <option th:value="SOENDERJYLLAND" th:text="'Sønderjylland'">SOENDERJYLLAND</option>
                <option th:value="FYN" th:text="'Fyn'">FYN</option>
                <option th:value="SJAELLAND" th:text="'Sjælland'">SJAELLAND</option>
            </select>
        </div>


        <div>
            <label>Tilgængelighed:</label>
            <select id="availability-filter" onchange="sortCars()">
                <option th:value="'Køb og leje'" th:text="'Køb og leje'">Køb og leje</option>
                <option th:value="Køb" th:text="Køb" th:selected="${availability == 'Køb'}">Køb</option>
                <option th:value="Leje" th:text="Leje" th:selected="${availability == 'Leje'}">Leje</option>
            </select>
        </div>
    </div>


    <div class="cars-list" id="car-list" th:fragment="car-list">

        <div th:each="car : ${cars}" class="car-boxes">

            <!-- Clickable image -->
            <a th:href="@{/show-specific-car(id=${car.id})}">
                <img th:if="${car.imageBase64 != null}"
                     th:src="'data:image/jpeg;base64,' + ${car.imageBase64}"
                     class="car-image"/>
            </a>

            <div class="car-info">
                <div>
                    <h3>Mærke:</h3>
                    <p th:text="${car.brand}"></p>
                </div>
                <div>
                    <h3>Model:</h3>
                    <p th:text="${car.model}"></p>
                </div>
                <div>
                    <h3>Pris pr. måned:</h3>
                    <p th:text="${car.monthlyPrice + ' DKK'}"> DKK </p>
                </div>
                <div>
                    <h3>Farve:</h3>
                    <p th:text="${car.color}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function sortCars() {

        const location = document.getElementById("location-filter").value;
        const availability = document.getElementById("availability-filter").value;

        fetch("/cars/fragment?location=" + location + "&availability=" + availability)
            .then(res => res.text())
            .then(html => document.querySelector("#car-list-container").innerHTML = html)

    }


</script>

<footer class="site-footer">

    <div class="footer-section">
        <h3>Find os</h3>
        <p>Brøndbyøstervej 23, 2610 Brøndby</p>
    </div>

    <div class="footer-section">
        <h3>Kontakt os</h3>
        <p>Telefon: 51 93 23 12<br>
            Email: <a href="mailto:Bilabonnement@kontakt.dk">Bilabonnement@kontakt.dk</a></p>
    </div>

    <div class="footer-section">
        <h3>Se også</h3>
        <p>
            <a href="#">Facebook</a><br>
            <a href="#">Instagram</a>
        </p>
    </div>

</footer>

</body>

</html>