<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Create user</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>

	<nav>
		<a href="/"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
		<div class="nav-links">
			<a href="/cars?availability=Leje">Lej bil</a>
			<a href="/cars?availability=Køb">Køb bil</a>
			<a href="/faq">FAQ</a>
		</div>
	</nav>

	<a href="/" class="btn">Tilbage</a>

	<div class="page-info">
		<h1>Placeholder</h1>
	</div>

<div class="page-structure">
    <div class="car-img">
        <img th:if="${car.imageBase64 != null}" th:src="'data:image/jpeg;base64,' + ${car.imageBase64}"/>
    </div>

		<div class="user-form-box">

			<form th:action="@{/create-user}" th:object="${user}" method="post"
				enctype="multipart/form-data" class="CRUD-form">

				<input type="hidden" name="mode" th:value="${mode}">
				<input type="hidden" name="id" th:value="${car.id}">

				<div>
					<label>Fornavn:</label>

					<input type="text" th:field="*{firstName}" required />
				</div>

				<div>
					<label>Efternavn:</label>
					<input type="text" th:field="*{lastName}" required />
				</div>

				<div>
					<label>Adresse:</label>
					<input type="text" th:field="*{address}" required>
				</div>

				<div>
					<label>Postnummer:</label>
					<input type="text" th:field="*{zip}" required>
				</div>

				<div>
					<label>Tlf. Nummer:</label>
					<input type="text" th:field="*{phoneNumber}" required>
				</div>

				<div>
					<label>Email:</label>
					<input type="text" th:field="*{email}" required>
				</div>

				<div>
					<label>CPR-Nummer:</label>
					<input type="text" th:field="*{CPR}" required>
				</div>

				<button type="submit">Bekræft</button>

			</form>
		</div>
	</div>

	<footer class="site-footer">

		<div class="footer-section">
			<h3>Find os</h3>
			<p>Brøndbyøstervej 23, 2610 Brøndby</p>
		</div>

		<div class="footer-section">
			<h3>Kontakt os</h3>
			<p>Telefon: 51 93 23 12<br>
				Email: <a href="mailto:Bilabonnement@kontakt.dk">Bilabonnement@kontakt.dk</a></p>
		</div>

		<div class="footer-section">
			<h3>Se også</h3>
			<p>
				<a href="#">Facebook</a><br>
				<a href="#">Instagram</a>
			</p>
		</div>

	</footer>

</body>

</html>
