<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Vehicle Report</title>
</head>
<body>

<form action="/createDamage" method="post">

    <input type="hidden" name="vehicleReportId" th:value="${vehicleReportId}">

    <table>
        <tr>

            <th>navn</th>
            <th>pris</th>
            <th></th>

        </tr>
        <tr>

            <td><input name="name" type="text" required></td>
            <td><input name="price" type="number" required oninput="updateTotal()"></td>
            <td>
                <button type="button" onclick="removeRow(this); updateTotal()">Fjern</button>
            </td>

        </tr>
        <tr id="totalRow">

            <td>samlet pris:</td>
            <td><span id="totalPrice">0</span> kr.</td>
            <td></td>

        </tr>

    </table>

    <button type="button" onclick="addRow()">Tilføj</button>
    <button type="submit">Gem rapport</button>

</form>

</body>
</html>

<script>

    function addRow() {

        const table = document.querySelector("table");
        const totalRow = document.getElementById("totalRow")
        const row = table.insertRow(totalRow.rowIndex);

        row.innerHTML = `
            <td><input name="name" type="text" required/></td>
            <td><input name="price" type="number" required oninput="updateTotal()"/></td>
            <td><button type="button" onClick="removeRow(this); updateTotal()">Fjern</button></td>`;

    }

    function removeRow(button) {
      const row = button.closest("tr");
      row.remove();
    }

    function updateTotal() {

        const prices = document.querySelectorAll('input[name="price"]')
        let total = 0;
        prices.forEach(input => {
                total += parseInt(input.value) || 0;
            }
        )
        document.getElementById("totalPrice").textContent = total;

    }

    updateTotal();

</script>