<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Create Rental Contract</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>

	<nav>
		<a href="/"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
		<div class="nav-links">
			<a href="/cars?availability=Leje">Lej bil</a>
			<a href="/cars?availability=Køb">Køb bil</a>
			<a href="/faq">FAQ</a>
		</div>
	</nav>

	<a href="/" class="btn">Tilbage</a>

	<h1>Create New Rental Contract</h1>

	<div class="form-box">
		<form th:action="@{/create-rental-contract}" th:object="${rental_contract}" method="post"
			class="CRUD-form">
			<input type="hidden" th:field="*{carId}" />
			<input type="hidden" th:field="*{userId}" />
			<input type="hidden" th:field="*{active}" />

			<div>
				<label>From Date Time:</label>
				<input type="datetime-local" th:field="*{fromDateTime}" required />
			</div>

			<div>
				<label>To Date Time:</label>
				<input type="datetime-local" th:field="*{toDateTime}" required />
			</div>

			<div>
				<label>Active:</label>
				<select th:field="*{active}" required>
					<option th:value="true" th:text="'true'">TRUE</option>
					<option th:value="false" th:text="'false'">FALSE</option>
				</select>
			</div>

			<button type="submit">Create Rental Contract</button>
		</form>
	</div>

	<footer class="site-footer">

		<div class="footer-section">
			<h3>Find os</h3>
			<p>Brøndbyøstervej 23, 2610 Brøndby</p>
		</div>

		<div class="footer-section">
			<h3>Kontakt os</h3>
			<p>Telefon: 51 93 23 12<br>
				Email: <a href="mailto:Bilabonnement@kontakt.dk">Bilabonnement@kontakt.dk</a></p>
		</div>

		<div class="footer-section">
			<h3>Se også</h3>
			<p>
				<a href="#">Facebook</a><br>
				<a href="#">Instagram</a>
			</p>
		</div>

	</footer>

</body>

</html>
