<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<div class="login">
    <form action="/admin_index" method="post">
        <label for="username">Brugernavn:</label>
        <input type="text" id="username" name="username" placeholder="Indtast brugernavn">

        <label for="pwd">Kodeord:</label>
        <input type="password" id="pwd" name="pwd" placeholder="Indtast kodeord"><br>

        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>