<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show_specific_car</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <a href="/"><img src="BILABONNEMENT_LOGO.png" alt="Logo" class="nav-img"></a>
    <div class="nav-links">
        <a href="/cars">Lej bil</a>
        <a href="/cars">Køb bil</a>
        <a href="/faq">FAQ</a>
    </div>
</nav>

<h1>Bilinformation</h1>

<div class="page-structure">

    <div class="car-picture">
        <img th:if="${car.imageBase64 != null}"
             th:src="'data:image/jpeg;base64,' + ${car.imageBase64}"
             style="width:150px; height:auto;"/>
    </div>

    <div class="CRUD-form centered-CRUD">
        <div>
            <label>ID:</label>
            <span th:text="${car.id}"></span>
        </div>

        <div>
            <label>Producent:</label>
            <span th:text="${car.brand}"></span>
        </div>

        <div>
            <label>Model:</label>
            <span th:text="${car.model}"></span>
        </div>

        <div>
            <label>Skrotpris:</label>
            <span th:text="${car.steelPrice}"></span>
        </div>

        <div>
            <label>Skat:</label>
            <span th:text="${car.tax}"></span>
        </div>

        <div>
            <label>Forurening:</label>
            <span th:text="${car.emission}"></span>
        </div>

        <div>
            <label>Farve:</label>
            <span th:text="${car.color}"></span>
        </div>

        <div>
            <label>Lokation:</label>
            <span th:text="${car.location}"></span>
        </div>

        <div>
            <label>Skade status:</label>
            <span th:text="${car.damageStatus}"></span>
        </div>

        <div>

        </div>

        <div class="rent-button">
            <a th:href="@{/create-user(id=${car.id})}">
                <button type="submit"
                        th:attr="disabled=${isDamaged or isRented or isSold}">
                    Lej bilen
                </button>
            </a>
        </div>

        <div class="buy-button">
            <a th:href="@{/create-user(id=${car.id})}">
                <button type="submit"
                        th:attr="disabled=${isDamaged or isSold}">
                    Køb bilen
                </button>
            </a>
        </div>

    </div>
</div>

</body>
</html>