<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cars</title>
</head>


<div>
	<label>Lokation:</label>
	<select id="location-filter" onchange="sortCars()">
		<option th:value="Alle" th:text="'Alle'">Alle</option>
		<option th:value="NORDJYLLAND" th:text="'NORDJYLLAND'">NORDJYLLAND</option>
		<option th:value="MIDTJYLLAND" th:text="'MIDTJYLLAND'">MIDTJYLLAND</option>
		<option th:value="SOENDERJYLLAND" th:text="'SOENDERJYLLAND'">SOENDERJYLLAND</option>
		<option th:value="FYN" th:text="'FYN'">FYN</option>
		<option th:value="SJAELLAND" th:text="'SJAELLAND'">SJAELLAND</option>
	</select>
</div>

<div>
	<label>Tilgængelighed:</label>
	<select id="availability-filter" onchange="sortCars()">
		<option th:value="'Køb og leje'" th:text="'Køb og leje'">Køb og leje</option>
		<option th:value="'Køb'" th:text="'Køb'">Køb</option>
		<option th:value="'Leje'" th:text="'Leje'">Leje</option>
	</select>
</div>

<table>
	<thead>
		<tr>
			<th>Image</th>
			<th>Brand</th>
			<th>Model</th>
			<th>Steel</th>
			<th>Color</th>
		</tr>
	</thead>
	<tbody id="carList" th:fragment="carList">
		<tr th:each="car : ${cars}" >

			<!-- Display image if present -->
			<td>
				<a th:href="@{/show-specific-car(id=${car.id})}">
				<img th:if="${car.imageBase64 != null}"
					th:src="'data:image/jpeg;base64,' + ${car.imageBase64}"
					style="width:150px; height:auto;" />
				</a>
			</td>

			<td th:text="${car.brand}"></td>
			<td th:text="${car.model}"></td>
			<td th:text="${car.steelPrice}"></td>
			<td th:text="${car.color}"></td>

		</tr>
	</tbody>
</table>

<script>

	function sortCars() {

		const location = document.getElementById("location-filter").value;
		const availability = document.getElementById("availability-filter").value;

		fetch("/cars/fragment?location=" + location + "&availability=" + availability)
				.then(res => res.text())
				.then(html => document.querySelector("#carList").innerHTML = html)

	}


</script>
