<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <nav>
        <a><img src="">Bilabonnement</a>
        <a>KPI</a>
        <a>Registrere skade</a>
        <a>Biler</a>
        <a>Log ud</a>
    </nav>
</header>

<div class="page-info">
    <h1>Udlejning og indlevering</h1>
    <p>På den her side finder du en oversigt af alle biler der skal udlejes og indleveres i dag </p>
</div>

<h2>Udlejninger i dag</h2>
<div class="list-of-todays-rentals">
    <table>
        <thead>
        <tr>Id</tr>
        <tr>Brand</tr>
        <tr>Model</tr>
        <tr>Color</tr>
        <tr>Location</tr>
        </thead>
        <tbody>
        <tr th:each="car : ${todaysRentals}">
            <td th:text="${car.id}"/>
            <td th:text="${car.brand}"/>
            <td th:text="${car.model}"/>
            <td th:text="${car.color}"/>
            <td th:text="${car.location}"/>
        </tr>
        </tbody>
    </table>
</div>

<h2>Indleveringer i dag</h2>
<div class="list-of-todays-rentals">
    <table>
        <thead>
        <tr>Id</tr>
        <tr>Brand</tr>
        <tr>Model</tr>
        <tr>Color</tr>
        <tr>Location</tr>
        </thead>
        <tbody>
        <tr th:each="car : ${todaysReturns}">
            <td th:text="${car.id}"/>
            <td th:text="${car.brand}"/>
            <td th:text="${car.model}"/>
            <td th:text="${car.color}"/>
            <td th:text="${car.location}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>